.footer {
  color: #eeeeee;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5em;
  font-family: Saira Extra Condensed;
}

.footer span {
  margin: 0.25em;
}
