.footer {
  color: #eeeeee;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Saira Extra Condensed;
  margin: 12vh 0 0 0;
}

.footer span {
  margin: 5vh;
  flex: auto;
}
