.container {
  margin: 0 auto;
  height: 100vh;
  color: #eeeeee;
  background-color: #666666;
  text-align: center;
}

.children {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.backLink {
  padding: 2em;
  background-color: #666666;
}

.backLink a {
  color: #dddddd;
  font-family: Saira Extra Condensed;
}
