.navigator {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0.25em 0.25em -0.25em rgba(0, 0, 0, .2);
  display: flex;
  justify-content: flex-end;
}

.menu {
  align-self: center;
}

.list {
  margin: 0;
  padding: 0.75em 0;
  display: flex;
  list-style: none;
}

.item {
  padding: 0 1em;
}

.link {
  color: #333333;
}
