.title {
  margin: 0;
  padding: 15px;
  color: #333333;
  background-color: #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Saira Extra Condensed;
}

.link {
  margin: 0;
  padding: 7.5px;
  color: #333333;
  background-color: #666666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Saira Extra Condensed;
}

.link > a{
  color: #bbbbbb;
}
